@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "BR Firma";
  src: url("../fonts/BR\ Firma\ Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "BR Firma", "Gothic A1", sans-serif;
  font-size: 62.5%;
}
// BRAND CONSTANT RESOURCE
$lightTextColor: #444e50;
$greenTextColor: #1da95b;
$placeholderTextColor: #a1a1a1;
$mainColor: #182327;
$btnColor: #1da95b;

// UTILITY CLASSES
.btn {
  width: 296px;
  height: 56px;
  background-color: $btnColor;
  color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
  border: none;
  outline: none;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.25s;
  &:hover {
    opacity: 0.8;
  }
}

.privacy-policy {
  font-size: 1.2rem;
  min-width: 201px;
  max-width: 201px;
  text-align: center;
  margin: auto;
  line-height: 20px;
  color: #444e50;
  span {
    // font-family: "Gothic A1";
    font-weight: bold;
    white-space: nowrap;
  }
}
.back-left {
  width: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.25s;
  img {
    margin-right: 6px;
    height: 16px;
    width: 16px;
  }
  &:hover {
    opacity: 0.8;
  }
  img {
    width: 16px;
    height: 16px;
  }
}
.exit-right,
.exit,
.logo,
.logo-left {
  cursor: pointer;
  transition: all 0.25s;
  &:hover {
    opacity: 0.8;
  }
}
.hyperlink {
  cursor: pointer;
}
.password-container {
  position: relative;
}
.password-eye-toggle,
.password-eye-reveal {
  position: absolute;
  right: 16px;
  top: 30%;
  cursor: pointer;
}

#auto-fill-authentication-tel {
  padding-left: 50px !important;
  padding-right: 50px !important;
  background-repeat: no-repeat;
  background-position: 90% 50%;
}
.ts-tel {
  padding-left: 50px !important;
}
// .password-eye-reveal {
//   display: none;
//   width: 24px;
//   height: 24px;
//   top: 30%;

//   object-fit: contain;
// }
// .Wrapper-All.active {
//   display: block !important;
// }
body {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;

  // }
  .modal-trigger {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: $greenTextColor;
    cursor: pointer;
    border-radius: 4px;
    background-color: $mainColor;
  }
  .Wrapper-All.open {
    animation: open-animate 0.25s ease-in 1 alternate;
  }

  @keyframes open-animate {
    0% {
      transform: scale(0.5);
      opacity: 0.3;
      background: none;
    }
    100% {
      transform: scale(1);
      opacity: 1;
      background: none;
    }
  }

  .modal-wrapper-All {
    display: none !important;
    transition: all 0.4s;
    width: 100%;
    height: 100%;

    .Wrapper-All {
      position: relative;
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #e5e5e5;

      //   GENERIC GATES/PAGES FEATURES
      .gate-1,
      .gate-2,
      .gate-3,
      .gate-4,
      .gate-5,
      .gate-6,
      .gate-7,
      .gate-8,
      .gate-9,
      .gate-10,
      .gate-11,
      .gate-12,
      .gate-13 {
        width: 100%;
        min-height: 600px !important;
        // max-height: 550px;
        min-width: 320px;
        max-width: 380px;
        padding: 0 0 41px;
        display: flex;
      }
      // GATE 1 STYLING BEGINS HERE
      .gate-1 {
        display: block !important;
        background-color: $mainColor;
        padding-top: 25px;
        border-radius: 16px;
        box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.3);
        margin-bottom: 10px;
        &__main {
          display: flex;
          flex-direction: column;
          color: #ffffff;
          justify-content: center;
          &__header {
            .logo {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 40px;
              margin: auto;
              width: 142px;
              height: 37.2px;
              img {
                margin: auto;
                margin-right: 12.3px;
              }
            }
            .exit-right {
              width: 94%;
              height: 18px;
              margin-bottom: 20px;
              position: relative;
              img {
                position: absolute;
                right: 0;
                width: 16px;
                height: 16px;
              }
            }
            h2 {
              margin: 45px 0 36px;
              font-size: 2rem;
              font-weight: 500;
              text-align: center;
            }
          }
          &__content {
            font-size: 1.4rem;
            line-height: 2rem;
            .safe {
              margin-bottom: 24px;
            }
            .safe,
            .secure {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: space-between;
              height: 84px;
              width: 291px;
              margin-left: auto;
              margin-right: auto;
            }

            .btn-container {
              width: 100%;
              display: flex;
              justify-content: center;
            }
            .btn--update {
              margin-top: 36px;
              margin-bottom: 16px;
            }
            .privacy-policy {
              color: #ffffff;
            }
          }
        }
      }
      //   MODIFYING THE MARGIN BOTTOM PROPERTY OF btn
      .gate-3 {
        .btn--update {
          margin-bottom: 55px !important;
        }
      }
      //   MODIFYING THE MARGIN BOTTOM PROPERTY OF btn

      .gate-5 {
        .btn--update {
          margin-bottom: 39px !important;
        }
      }
      // GATES STYLING GOES HERE HERE
      .gate-2,
      .gate-3,
      .gate-4,
      .gate-5,
      .gate-6,
      .gate-7,
      .gate-8,
      .gate-9,
      .gate-10,
      .gate-11,
      .gate-12,
      .gate-13 {
        // auraqule@gmail.com
        display: none;
        &__main {
          max-height: 600px;
          display: flex;
          flex-direction: column;
          margin-bottom: -60px !important;

          &__header {
            .logo-left {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 26px;
              color: #ffffff;
              img {
                margin-right: 7.97px;
              }
            }
            border-top-right-radius: 16px;
            border-top-left-radius: 16px;
            padding: 0 24px;
            width: 100%;
            height: 70px;
            background-color: $mainColor;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          &__content {
            box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.3);
            position: relative;
            top: -10px;
            background-color: #fff;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 48px 0 30px;
            h1 {
              font-size: 2.8rem;
              font-weight: 700;
              color: $mainColor;
              text-align: center;
            }
            p.sub-header {
              font-size: 1.6rem;
              color: $lightTextColor;
              text-align: center;
              margin: 12px 0 32px;
              margin-left: auto;
              margin-right: auto;
              max-width: 208px;
            }
            &__form {
              font-size: 1.4rem;
              color: #182327;

              label {
                font-weight: 600;
              }
              input:focus {
                border: 2px solid $btnColor !important;
              }
              input[type="email"],
              input[type="tel"] {
                width: 296px;
                height: 48px;
                padding-left: 16px;
                border-radius: 8px;
                outline: none;
                margin: 8px 0 12px !important;
                border: 1.5px solid #e0e0e0;
                &::placeholder {
                  color: #a1a1a1;
                }
              }
              input[type="password"],
              input[type="text"] {
                padding-right: 40px;
                width: 296px;
                height: 48px;
                padding-left: 16px;
                border-radius: 8px;
                outline: none;
                margin: 8px 0 12px;
                position: relative;
                border: 1.5px solid #e0e0e0;
                // background-image: url("../Assets/eyes.png");
                // background-repeat: no-repeat;
                // background-position: 95% 50%;
                // &:focus {
                //   background-image: unset;
                // }
                &::placeholder {
                  color: #a1a1a1;
                }
              }
              h4 {
                font-weight: 600;
                color: $greenTextColor;
                width: 50%;
              }
              h5 {
                color: #939393;
              }
              .btn--update {
                margin-top: 20px;
                margin-bottom: 125px;
              }
            }
          }
        }
      }
      //   GATE 6(LOADING LOGGING IN PAGE) STYLING BEGINS HERE
      .gate-6 {
        flex-direction: column;
        height: 600px;
        min-height: 600px;
        &__main__content {
          padding-top: 160px;
          padding-bottom: 250px;
          height: 90%;
          display: flex;
          justify-content: center;
          align-items: center;

          .sk-chase {
            width: 40px;
            height: 40px;
            position: relative;
            animation: sk-chase 2.5s infinite linear both;
          }

          .sk-chase-dot {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            animation: sk-chase-dot 2s infinite ease-in-out both;
          }

          .sk-chase-dot:before {
            content: "";
            display: block;
            width: 25%;
            height: 25%;
            background-color: $btnColor;
            border-radius: 100%;
            animation: sk-chase-dot-before 2s infinite ease-in-out both;
          }

          .sk-chase-dot:nth-child(1) {
            animation-delay: -1.1s;
          }
          .sk-chase-dot:nth-child(2) {
            animation-delay: -1s;
          }
          .sk-chase-dot:nth-child(3) {
            animation-delay: -0.9s;
          }
          .sk-chase-dot:nth-child(4) {
            animation-delay: -0.8s;
          }
          .sk-chase-dot:nth-child(5) {
            animation-delay: -0.7s;
          }
          .sk-chase-dot:nth-child(6) {
            animation-delay: -0.6s;
          }
          .sk-chase-dot:nth-child(1):before {
            animation-delay: -1.1s;
          }
          .sk-chase-dot:nth-child(2):before {
            animation-delay: -1s;
          }
          .sk-chase-dot:nth-child(3):before {
            animation-delay: -0.9s;
          }
          .sk-chase-dot:nth-child(4):before {
            animation-delay: -0.8s;
          }
          .sk-chase-dot:nth-child(5):before {
            animation-delay: -0.7s;
          }
          .sk-chase-dot:nth-child(6):before {
            animation-delay: -0.6s;
          }

          @keyframes sk-chase {
            100% {
              transform: rotate(360deg);
            }
          }

          @keyframes sk-chase-dot {
            80%,
            100% {
              transform: rotate(360deg);
            }
          }

          @keyframes sk-chase-dot-before {
            50% {
              transform: scale(0.4);
            }
            100%,
            0% {
              transform: scale(1);
            }
          }
          .logging-in-msg {
            margin-top: 20px;
            font-size: 1.6rem;
            color: #444e50;
          }
        }
      }

      footer {
        display: flex;
        width: auto;
        justify-content: space-between;
        font-size: 1.2rem;
        margin-top: 5px;
        color: #666666;
        padding-bottom: 10px;
        img {
          margin-right: 4px;
        }
        span {
          font-weight: bold;
        }
      }

      //   OTP GENERATION AND VALIDATION STYLING GOES HERE
      .gate-8,
      .gate-9,
      .gate-12,
      .gate-13 {
        &__main__content {
          .auth-sub-header {
            font-size: 1.6rem;
            line-height: 28px;
            display: flex;
            flex-direction: column;
            margin: 12px 0 32px;
            .display-authentication-email,
            .display-authentication-phone-no {
              color: $greenTextColor;
              font-weight: 700;
              text-align: center;
            }
          }
          &__form__otp {
            height: 42px;
            margin: 18.13px 0 32px;
            display: grid;
            width: 292px;
            grid-gap: 8px;
            border: none !important;
            outline: none !important;
            grid-template-columns: repeat(6, 1fr);
            input[type="text"] {
              width: 42px !important;
              height: 42px !important;
              text-align: center;
              border: 2px solid #e0e0e0;
              border-radius: 8px;
              padding-left: unset !important;
              &:focus {
                border: none;
                outline: 2px solid $greenTextColor;
              }
            }
          }
          .code-issue {
            --webkit-font-size: 1.6px;
            font-weight: 600;
            margin-bottom: 125px;
            span {
              cursor: pointer;
              color: $greenTextColor;
            }
          }
          .code-issue--except {
            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: 0;
            span {
              cursor: pointer;
              color: $greenTextColor;
            }
          }
          .code-issue-resolve {
            font-size: 1.4rem;
            font-weight: 600;
            margin-top: 8px;
            margin-bottom: 120px;
            span {
              color: $greenTextColor;
            }
          }
        }
      }

      //   GATE 11/PAGE 11(Connection Successful Message Page) MODIFICATION STYLING GOES HERE
      .gate-11 {
        min-height: 375px !important;
        &__main {
          // max-height: 440px;
          margin-bottom: -40px !important;
          &__content {
            padding-bottom: 80px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .Wrapper-All {
    justify-content: flex-start !important;
    .gate-1 {
      border-radius: unset !important;
      box-shadow: unset !important;
      // border-bottom-left-radius: 16px !important;
      // border-bottom-right-radius: 16px !important;
      max-width: 100% !important;
    }
    .gate-2,
    .gate-3,
    .gate-4,
    .gate-5,
    .gate-6,
    .gate-7,
    .gate-8,
    .gate-9,
    .gate-10,
    .gate-11,
    .gate-12,
    .gate-13 {
      max-width: 100% !important;
      &__main {
        max-height: 600px;
        display: flex;
        flex-direction: column;

        &__header {
          border-top-right-radius: unset !important;
          border-top-left-radius: unset !important;
        }
        &__content {
          box-shadow: unset !important;
          border-radius: unset !important;
          border-top-left-radius: 16px !important;
          border-top-right-radius: 16px !important;
        }
      }
    }
  }
}
